#container{
    display:grid;
    grid-template-areas: 'p . .' 
                          'c . .'
                          'v v v';
}
body{
    color: white;
    font-size: large;
    background-image: url('img/DSC00278.JPG');
    background-size: cover;
    
}
#content{
    grid-area:c;
}
#validator{
    grid-area:v;
    display:flex;
    vertical-align: middle;
    padding: 0;
    margin:0;
}
#foot-left{
    padding-top:18px;
    width:20%;
    text-align: left;
    vertical-align: middle;
}

#foot-mid{
    width:60%;
    text-align: center;
}

#foot-right{
    width:20%;
    text-align: right;
}

#photo{
    grid-area:p;
    width:300px;
    height: 350px;
    opacity: 0.85;
}
h2{
    font-size: 25pt;
    text-decoration: underline;
}
h4{
    font-size: 15pt;
}
a{
    font-size: 15pt;
    color: antiquewhite;
}

#footer{

    position: absolute;
    bottom: 5px;
    left: 600px;
    text-align: center;
}
#logo{
    height: 50px;
    /* position: absolute; */
    right:10px;
    bottom:10px;
    background-color: black;
}
li{
    margin: 0.2%;
    font-size: 15pt;
    color: antiquewhite;
}