body{
    color: #404040;
    background-color: #FFFFFF;
    font-size: 11pt;
    padding: 0 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
a{
    color:#A4A400;
    font-size: 15pt;
}

.comment{
    display: inline-flex;
    color: #000000;
    width:90%;
    margin:1%;
    background-color: #ffffa4;
    font-family: cursive;
    text-align: left;
    font-style: italic;
    font-size: 11pt;
}


h2{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Arial, Helvetica ;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    text-decoration: underline;
}

h3{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Arial, Helvetica ;
    text-align: left;
    font-weight: normal;
    font-size: 18pt;
    text-decoration: underline;
}
