body{
    display: grid;
    
    background-color: darkslategray;
    color: white;
}

#header{
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
   text-decoration: underline;
}
label{
    font-size: larger;
}
form{
    display:grid;
    grid-template-columns: 20% auto;
    background-color: brown;
   width: 70%;
   margin: auto;
   padding: 2%;
}
form > * {
    margin: 2%;
}
input[type="text"],select{
    width: 40%;

    
}
textarea{
    width: 400px;
    height:100px;
}